<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ppl.server.iam.data.dao.mappers.UserPasswordMapper">

    <insert id="insert" parameterType="ppl.server.iam.data.dao.entities.UserPassword" useGeneratedKeys="true"
            keyProperty="id">
        insert into `user_password` (`user_id`, `password`, `creation_time`, `modification_time`, `created_by`,
                                     `modified_by`)
        values (#{userId}, #{password}, #{creationTime}, #{modificationTime}, #{createdBy}, #{modifiedBy})
    </insert>

    <update id="delete">
        update `user_password`
        set `deleted`           = id,
            `modification_time` = #{modificationTime},
            `modified_by`       = #{modifiedBy}
        where `id` = #{id}
          and `deleted` = 0
    </update>

    <select id="getById" resultType="ppl.server.iam.data.dao.entities.UserPassword">
        select `id`,
               `user_id`,
               `password`,
               `creation_time`,
               `modification_time`,
               `created_by`,
               `modified_by`
        from `user_password`
        where `id` = #{id} and `deleted` = 0
    </select>

    <select id="getByIds" resultType="ppl.server.iam.data.dao.entities.UserPassword">
        select `id`,
        `user_id`,
        `password`,
        `creation_time`,
        `modification_time`,
        `created_by`,
        `modified_by`
        from `user_password`
        where
        <if test="ids != null and ids.size() > 0">
            `id` in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
            and
        </if>
        `deleted` = 0
    </select>

</mapper>